.director>div {
    padding: 10px;
}

.director-data-box {
    width: 200px;
    height: 60px;
    border: 1px solid rgb(85, 10, 51);
    margin: 10px;
    background-color: rgb(243, 223, 235);
}

.director-data-box >div {
   position: relative;
   right: 60px;
}

.button {
    align-items: center;
}

