.director {
    display: flex;
    flex-direction: column;
    flex: 1
}

.director>div {
  
    margin-top: 30px;
}

.director-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 100px;
} 

.director-input>div {
margin: 7px
}

.director-data-box {
    width: 300px;
    height: 110px;
    border: 1px solid rgb(85, 10, 51);
    margin: 10px;
    background-color: rgb(243, 223, 235);
}

.director-data-box>div {
    margin: 7px;
}


